.form-container {
  //Positioning
  position: absolute;

  //Dimensions
  width: 300px;
  height: 300px;

  //Background
  background-color: #d6e9ff;

  //Border
  border-radius: 5px;

  //Centering
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .login-form {
    //Positioning
    position: absolute;

    //Dimensions
    width: 200px;
    height: 200px;

    //Centering
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
//
.form-alert{
  color: red;

  font-weight: 400;
  margin-top: 10px;

}
mat-form-field{
  width: 100%;
}
