$width-of-contents: calc(100vw - 200px);

app-sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 1000;
}
.container {
  margin-left: 1px;
  width: $width-of-contents;
  float: right;
  height: 100vh;
}

app-grid{
  //give the grid a height of 100% so it fills the container
  position: absolute;
  width: 100vw;
  height: 100vh;
}
