app-sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 1000;
}
.container {
  position: absolute;
  height: 100%;
  width: calc(100% - 200px);
  right: 0;
  top: 0;
  z-index: 100;
}
app-grid{
  //give the grid a height of 100% so it fills the container
  position: absolute;
  width: 100vw;
  height: 100vh;
}
