.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mat-grid-container {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.number {
  @extend .mat-grid-container;
  font-size: 300px;
}

.mat-grid-list {
  padding-top: 25px;
  padding-bottom: 650px !important;
  width: 600px;
}

img {
  // min-width: 100vw;
  // min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}
