<div class="grid-container">
  <div class="number">1</div>
  <div class="mat-grid-container">
    <mat-grid-list cols="3" rows="3">
      <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
      >
        <img
          src="../../../../../assets/astronaut_art_space_129529_3840x2160.jpg"
          alt="astronaut"
        />
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<div class="grid-container">
  <div class="number">2</div>
  <div class="mat-grid-container">
    <mat-grid-list cols="3" rows="3">
      <mat-grid-tile
        *ngFor="let tile of tiles2"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
      >
        <img
          src="../../../../../assets/astronaut_art_space_129529_3840x2160.jpg"
          alt="astronaut"
        />
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<div class="grid-container">
  <div class="number">2</div>
  <div class="mat-grid-container">
    <mat-grid-list cols="6" rows="6">
      <mat-grid-tile
        *ngFor="let tile of tiles3"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
      >
        <img
          src="../../../../../assets/astronaut_art_space_129529_3840x2160.jpg"
          alt="astronaut"
        />
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
