<div class="container">
  <div class="grid-item-1"></div>
  <div class="grid-item-2"></div>
  <div class="grid-item-3"></div>
</div>


<div class="container-2">
  <div class="left-grid-3"></div>
  <div class="grid-right-1"></div>
  <div class="grid-right-2"></div>
  <div class="grid-right-3"></div>
</div>


<div class="container-3">
  <div class="grid-group-left"></div>
  <div class="grid-group-right"></div>
  <div class="bottom-left-grid"></div>
  <div class="bottom-right-grid"></div>
  <div class="middle-first"></div>
  <div class="middle-second"></div>
</div>


<!-- <div class="container-3">
  <div class="left-grid-group"></div>
  <div class="right-grid-group"></div>
  <div class="bottom-grid-group">
    <div class="middle-grid-group">
      <div class="bottom-group-2"></div>
    </div>
    <div class="left-small"></div>
    <div class="right-small"></div>
  </div>
</div> -->
