ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #F2F2F2;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #8C8265 ;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.logout-btn{
  position: absolute;


  bottom: 0;
  height: 40px;

  border-radius: 5px;
  border: none;

  width: 80%;

  background-color: #011126;
  color: white;
  cursor: pointer;

  left: 50%;
  transform: translate(-50%, -50%);
}
.logout-btn:hover{
  background-color: #193140;
}
