.accordion-container {
  width: 50%;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.slider{
  padding: 0;
}
.mat-expansion-panel-body {
  background-color: #193140 !important;;
  color: #f2f2f2 !important;
}
.mat-expansion-panel-content,
.sliderActive {
  overflow: hidden;

  display: flex;
  justify-content: left;

  background-color: #193140;
  color: #f2f2f2;
}
.slider > div,
.sliderActive > div {
  margin-top: -100vh;
  transition: margin-top 0.4s ease-in-out;
  display: flex;
  justify-content: center;
}
.sliderActive > div {
  margin-top: 0;
  display: flex;
  justify-content: center;
}
p {
  padding-left: 10px;
}
