/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;

  //hide scrollbar
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
app-accordion {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-expansion-panel-body {
  padding: 10px 24px 0 24px !important;
  background-color: #193140 !important;
  color: #f2f2f2 !important;
}
.mat-expansion-panel-header:hover {
  background-color: #555 !important;
  border-radius: 0 !important;
}

.mat-expansion-panel-header:hover .mat-expansion-panel-header-title {
  background-color: #555 !important;
  color: #f2f2f2 !important;
  border-radius: 0 !important;
}
