$width-of-sticky-notes: calc(100vw - 200px);

h2 {
  font-weight: bold;
  font-size: 2rem;

  overflow-wrap: break-word;
}

p {
  font-size: 1rem;
  font-weight: normal;

  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
}
ul {
  padding: 0;
  width: $width-of-sticky-notes;
  height: calc(100vh - 60px);
  display: flex;
  flex-wrap: wrap;
}
ul li div {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  width: 10em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}
li {
  margin: 1em;
}
ul{
  margin: 0;
}

.align-content-center {
  align-content: center;
}
.align-content-flex-end {
  align-content: flex-end;
}
.align-content-flex-start {
  align-content: flex-start;
}
.align-content-space-around {
  align-content: space-around;
}
.justify-content-flex-center {
  justify-content: center;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.justify-content-flex-start {
  justify-content: flex-start;
}
.justify-content-space-between {
  justify-content: space-between;
}

.button-on-note {
  margin: 10px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(204, 204, 197);
  border: 1px solid #ccc;
  border-radius: 50%;
  transition: all 0.3s ease;
  &:hover {
    background-color: #ccc;
  }
}
