<div id="sticky-note-list" [ngClass]="stickyService.selectedAlignContent + ' ' + stickyService.selectedJustifyContent" class="card-container">
  <mat-card class="card" id="sticky-note-list-item" *ngFor="let item of notes">
    <mat-card-title id="sticky-note-title">{{ item.title }}</mat-card-title>
    <mat-card-content>
      <p>{{ item.content }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button id="sticky-note-button" [routerLink]="['../sticky-note-form', item.id]"
        class="button-edit"></button>
      <button class="button-delete" (click)="deleteNote(item)" id="sticky-note-delete-button" mat-flat-button></button>
    </mat-card-actions>
  </mat-card>
</div>
